* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}


body{
    font-family: helvetica, Arial;
    font-size: 20px;
}

h1, h2 {
    color: green;
    
}

h1 {
    margin-bottom: 20px;
    font-size: 40px;
   
}

h2 {
    
    font-size: 25px;
    margin-bottom: 25px;
    
}

.main-text{
    text-align: justify;
    margin-bottom: 10px;
    padding: 10px;
}

#author-text{
    font-size: 40px;
    color: green;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.blog-post {
    background-color: greenyellow;
    width: 75%;
    float: left;
}

.another-blog {
    background-color: hotpink;
    width: 25%;
    float: left;
}

.author-box {
    background-color: rgb(186, 233, 140);
    width: 20%;
}